*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --font:'Roboto', sans-serif;
    --bg-header:rgba(0, 0, 0, .6);
    --color-font:#E2E2E2;
    --font-weight: 400;
}



body{
    background: #E2E2E2;
    font-family: var(--font)
}

.Conteiner{
    border: 1px solid red;
    width: 100vw;
    height: 100vh;
}

.Header{
    border: 1px solid blue;
    height: 10vh;

    background: var(--bg-header) 

}

.list_links{
    display: flex;
    justify-content: flex-end;
    margin: 20px 10px;
    gap: 1.9rem;
}


.list_links a{
    text-decoration: none;
    color: var(--color-font);
    text-transform: uppercase;
    font-weight: var(--font-weight);
    transition:.25s ease 0s;
     
}

.list_links a:hover{
    opacity: .5;
}

.list_links .button{
    display: flex;
    justify-content: center;
    border: none;
    width: 10rem;
    margin-left: 15px;
    border-radius: 2rem;
    padding: 2px;
    background: #434343;
    
    
}